# ğŸ“Š 2. ë¹ˆë„ ê¸°ë°˜ ë²¡í„°í™”: ë‹¨ì–´ ê°œìˆ˜ ì„¸ê¸° (BoW & TF-IDF)

ê°€ì¥ ì‰½ê³  ì§ê´€ì ì¸ ë°©ë²•ì´ì•¼. **"ë§ì´ ë‚˜ì˜¨ ë‹¨ì–´ê°€ ì¤‘ìš”í•˜ê² ì§€?"** ë¼ëŠ” ë‹¨ìˆœí•œ ìƒê°ì—ì„œ ì¶œë°œí•´!

## 1. Bag of Words (BoW): "ì¥ë°”êµ¬ë‹ˆ" ğŸ§º

*   **ê°œë…**: ë¬¸ë²•, ìˆœì„œ ë‹¤ ë¬´ì‹œí•˜ê³  ê·¸ëƒ¥ **ì¥ë°”êµ¬ë‹ˆ(Bag)**ì— ë‹¨ì–´ë¥¼ ë‹¤ ë•Œë ¤ ë„£ê³  ëª‡ ê°œì¸ì§€ ì„¸ëŠ” ê±°ì•¼.
*   **ë¹„ìœ **: "ì´ ë¬¸ì¥ì—ëŠ” 'ì‚¬ê³¼'ê°€ 2ê°œ, 'ë°”ë‚˜ë‚˜'ê°€ 1ê°œ ë“¤ì–´ìˆë„¤!"
*   **ë‹¨ì **: 'ë‚˜', 'ëŠ”', 'ì´' ê°™ì€ ì“¸ëª¨ì—†ëŠ” ë‹¨ì–´ë„ ë§ì´ ë‚˜ì˜¤ë©´ ì¤‘ìš”í•˜ë‹¤ê³  ì°©ê°í•´.

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

sentences = [
    'I love my dog.',
    'I love my cat.',
    'You love my dog!',
    'Do you think my dog is amazing?'
]

# 1. BoW ë§Œë“œëŠ” ê¸°ê³„ (CountVectorizer) ê°€ì ¸ì˜¤ê¸°
vectorizer = CountVectorizer()

# 2. ë¬¸ì¥ í•™ìŠµ ë° ë³€í™˜ (ë‹¨ì–´ì¥ ë§Œë“¤ê³  + ê°œìˆ˜ ì„¸ê¸°)
features = vectorizer.fit_transform(sentences)

# 3. ê²°ê³¼ í™•ì¸ (ë‹¨ì–´ ì´ë¦„ë“¤)
vocab = vectorizer.get_feature_names_out()
print("ë‹¨ì–´ì¥ ëª©ë¡:", vocab)

# 4. í‘œ(DataFrame)ë¡œ ì˜ˆì˜ê²Œ ë³´ê¸°
bow_df = pd.DataFrame(features.toarray(), columns=vocab)
bow_df

ë‹¨ì–´ì¥ ëª©ë¡: ['amazing' 'cat' 'do' 'dog' 'is' 'love' 'my' 'think' 'you']

   amazing  cat  do  dog  is  love  my  think  you
0        0    0   0    1   0     1   1      0    0
1        0    1   0    0   0     1   1      0    0
2        0    0   0    1   0     1   1      0    1
3        1    0   1    1   1     0   1      1    1

---

## 2. TF-IDF: "ì§„ì§œ ì£¼ì¸ê³µ ì°¾ê¸°" âœ¨

ë‹¨ìˆœíˆ ê°œìˆ˜ë§Œ ì„¸ë‹ˆê¹Œ('love', 'my') ê°™ì€ í”í•œ ë‹¨ì–´ê°€ 1ë“±ì„ í•´ë²„ë¦¬ì§€?
ê·¸ë˜ì„œ **"í”í•œ ë‹¨ì–´ëŠ” ì ìˆ˜ë¥¼ ê¹ê³ , í¬ê·€í•œ ë‹¨ì–´ì— ê°€ì‚°ì ì„ ì£¼ì!"** ë¼ëŠ” ì•„ì´ë””ì–´ê°€ ë‚˜ì™”ì–´.

### ê³µì‹ (í•µì‹¬ë§Œ!)
$$ \text{TF-IDF} = TF \times IDF $$

1.  **TF (Term Frequency)**: ì—¬ê¸°ì„œ ëª‡ ë²ˆ ë‚˜ì™”ë‹ˆ? (ë§ì„ìˆ˜ë¡ ì ìˆ˜ UP â¬†ï¸)
2.  **IDF (Inverse Document Frequency)**: ë‹¤ë¥¸ ë¬¸ì„œì—ì„œë„ í”í•˜ë‹ˆ? (í”í• ìˆ˜ë¡ ì ìˆ˜ DOWN â¬‡ï¸)

> **ê²°ê³¼**: "ì—¬ê¸°ì„œë§Œ ë§ì´ ë‚˜ì˜¨ ë‹¨ì–´"(ì˜ˆ: `Genome`, `Nuclear`)ê°€ ë†’ì€ ì ìˆ˜ë¥¼ ë°›ê²Œ ë¼!

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 1. TF-IDF ê¸°ê³„ ê°€ì ¸ì˜¤ê¸°
tfidf_vectorizer = TfidfVectorizer()

# 2. ë³€í™˜
tfidf_matrix = tfidf_vectorizer.fit_transform(sentences)

# 3. í‘œë¡œ ë³´ê¸°
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vocab)
tfidf_df.round(2)  # ì†Œìˆ˜ì  2ìë¦¬ê¹Œì§€ë§Œ

   amazing   cat    do   dog    is  love    my  think   you
0     0.00  0.00  0.00  0.61  0.00  0.61  0.50   0.00  0.00
1     0.00  0.77  0.00  0.00  0.00  0.49  0.40   0.00  0.00
2     0.00  0.00  0.00  0.49  0.00  0.49  0.40   0.00  0.60
3     0.43  0.00  0.43  0.28  0.43  0.00  0.23   0.43  0.34

### ğŸ’¡ ê²°ê³¼ ë¶„ì„
- ì•„ê¹Œ **BoW**ì—ì„œëŠ” `love`ë‚˜ `dog`ê°€ ìˆ«ìê°€ ì»¸ì§€?
- **TF-IDF** í‘œë¥¼ ë³´ë©´, `amazing`ì´ë‚˜ `think` ê°™ì€ ë‹¨ì–´ê°€ ì ìˆ˜ê°€ ê½¤ ë†’ì•„ì§„ ê±¸ ë³¼ ìˆ˜ ìˆì–´.
- ì™œ? `love`ëŠ” ê°œë‚˜ ì†Œë‚˜ ë‹¤ ì“°ë‹ˆê¹Œ ê°€ì¹˜ê°€ ë–¨ì–´ì§€ê³ , **`amazing`ì€ 4ë²ˆ ë¬¸ì¥ì—ë§Œ ë“±ì¥í•œ í¬ê·€í•œ ë‹¨ì–´**ë¼ ê°€ì¹˜ê°€ ë†’ì€ ê±°ì•¼!

## ğŸ“ ë§ˆë¬´ë¦¬ í€´ì¦ˆ

**Q. 'a', 'the' ê°™ì€ ê´€ì‚¬ëŠ” ëª¨ë“  ë¬¸ì„œì— ì•„ì£¼ ë§ì´ ë“±ì¥í•©ë‹ˆë‹¤. TF-IDFì—ì„œ ì´ ë‹¨ì–´ë“¤ì˜ ì ìˆ˜ëŠ”?**
1. ì•„ì£¼ ë†’ë‹¤ (ê°œìˆ˜ê°€ ë§ìœ¼ë‹ˆê¹Œ)
2. ì•„ì£¼ ë‚®ë‹¤ (IDF í˜ë„í‹° ë•Œë¬¸ì—)

<details>
<summary>ì •ë‹µ í™•ì¸</summary>

**2ë²ˆ** (ì´ê²Œ TF-IDFë¥¼ ì“°ëŠ” ì´ìœ ì•¼! í”í•œ ë…€ì„ ì ìˆ˜ ê¹ê¸°!)

</details>